<div class="mat-elevation-z8">
  <table mat-table [dataSource]="pessoas" class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
      <td mat-cell *matCellDef="let row">{{row.nome}}</td>
    </ng-container>

    <ng-container matColumnDef="grauPericulosidade">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Grau de Periculosidade</th>
      <td mat-cell *matCellDef="let row">{{obterDescricaoPericulosidade(row.grauPericulosidade)}}</td>
    </ng-container>

    <ng-container matColumnDef="arrependido">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Está arrependido?</th>
      <td mat-cell *matCellDef="let row">{{row.arrependido ? "Sim" : "Não"}}</td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let row">
          <button mat-button (click)="openDialog(row.id)">
            <i class="material-icons">
              delete
          </i>
          </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
